var startX = 0,startY =0, move = 0,left=0
function angle(start, end) {
  var _X = end.X - start.X,
    _Y = end.Y - start.Y
  //返回角度 /Math.atan()返回数字的反正切值
  return 360 * Math.atan(_Y / _X) / (2 * Math.PI);
}
function touchS(e){
   startX = e.changedTouches[0].clientX
   startY = e.changedTouches[0].clientY
   left = Number(e.instance.getComputedStyle(['margin-left'])['margin-left'].split('p')[0])

}
function touchM(e,ins){
  var moveX = e.changedTouches[0].clientX
  var moveY = e.changedTouches[0].clientY
  var _angle = angle({
    X: startX,
    Y: startY
  },{
    X: moveX,
    Y: moveY
  })
  console.log('a:',_angle)
  if (_angle < -30) {
    return
  }
  move = moveX - startX
  if(move>0&&+e.instance.getComputedStyle(['margin-left'])['margin-left'].split('p')[0]>0) return
  if(Math.abs(move+left) >= 125)return;
  if(move < 0){
    e.instance.setStyle({
      'margin-left': move + left  + "px"
    })
  }else {
    e.instance.setStyle({
      'margin-left': move + left  + "px"
    })
  }
}
  
function touchE(e){
  if(move < 0){
    if(-e.instance.getComputedStyle(['margin-left'])['margin-left'].split('p')[0]*2 > 80){
      e.instance.setStyle({
        'margin-left': -125 + "px"
      })
    }else {
      e.instance.setStyle({
        'margin-left': 0 + "px"
      })
    }
  }else {
    e.instance.setStyle({
      'margin-left': 0 + "px"
    })
  }
}
  module.exports = {
    touchS: touchS,
    touchM: touchM,
    touchE: touchE
  }